.about_container {
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  color: var(--about-text);
  overflow: hidden;
}

.about_content {
  margin-top: 0rem;
  max-width: 70%;
  width: 100%;
  box-sizing: border-box;
}

.about_content h2 {
  color: var(--about-title);
  font-size: 36px;
}

.about_content span {
  font-family: "IBM Plex Mono";
  color: var(--nav-numbers);
  font-size: 18px;
  margin-right: 1rem;
}

.about_content p {
  font-family: "Times New Roman", Times, serif, Courier, monospace;
  margin-top: 2rem;
  font-weight: 400;
  font-size: 55px;
  line-height: 70px;
}

.pill_image {
  width: 110px;
  height: 50px;
  border-radius: 30px;
  overflow: hidden;
  object-fit: cover;
  margin: 0 0.7rem 0px 0.7rem;
  transform: translateY(0.2rem);
}

@media screen and (max-width: 1300px) {
  .about_content p {
    font-size: 38px;
    line-height: 50px;
  }

  .pill_image {
    width: 85px;
    height: 38px;
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;
    margin: 0 0.4rem 0px 0.4rem;
    transform: translateY(0.2rem);
  }
}

@media screen and (max-width: 600px) {
  .about_content {
    margin-top: 5rem;
    width: 100%;
    max-width: 95%;
    padding-bottom: 0rem;
  }

  .about_content p {
    font-size: 20px;
    line-height: 36px;
  }

  .pill_image {
    width: 67px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;
    margin: 0 0.4rem 0px 0.4rem;
    transform: translateY(0.4rem);
  }
}
