@font-face {
  font-family: "Migra";
  src: url("../Migra-Extralight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.about {
  height: 100vh;
  width: 100vw;
  display: grid;
  /* overflow: hidden; */
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--page-bg);
  font-family: "Migra";
}

.about_aside {
  display: flex;
  margin-top: 7rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.about_block {
  display: block;
  width: 325px;
}

.about_aside_1 {
  grid-column: 3;
}

.about_aside_2 {
  grid-column: 1;
  margin-top: -60rem;
}

.about_aside p {
  font-family: "Migra";
  font-size: 20px;
}

.about_block img:nth-child(1) {
  transform: rotate(40deg);
  animation: float2 4s infinite ease-in-out 1s;
}

.about_block img:nth-child(2) {
  animation: float 4s infinite ease-in-out 1s;
}

.about_container {
  display: flex;
  justify-content: center;
  grid-column: 2;
}

.turtle {
  position: absolute;
  margin-top: 3rem;
  z-index: 80;
  overflow: visible;
  animation: float 4s infinite ease-in-out;
  object-fit: cover;
  overflow: visible;
  width: auto;
  height: auto;
  object-position: 50% 50%;
}

.glow {
  position: relative;
  z-index: 79;
  width: 359px;
  height: 359px;
  margin-top: 10rem;
  background: var(--contact-text);
  filter: blur(75px);
}

.about h1 {
  font-family: "Migra";
  z-index: 100;
  position: absolute;
  text-align: center;
  font-size: 100px;
  font-weight: 200;
  width: auto;
  max-width: 1000px;
}

@keyframes float {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0rem);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes float2 {
  0% {
    transform: translateY(10px) rotate(40deg);
  }

  50% {
    transform: translateY(0rem) rotate(40deg);
  }

  100% {
    transform: translateY(10px) rotate(40deg);
  }
}

@media screen and (max-width: 1475px) {
  .about_container h1 {
    max-width: 500px;
    font-size: 70px;
  }

  .turtle {
    width: 600px;
    height: auto;
  }

  .about_block img {
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width: 1150px) {
  .about_container h1 {
    font-size: 50px;
  }

  .about_aside {
    justify-content: center;
    text-align: center;
    margin: 1 auto;
  }

  .about_aside p {
    font-family: "Migra";
    font-size: 16px;
  }

  .turtle {
    width: 450px;
    height: auto;
    margin-top: 4rem;
  }

  .about_block img {
    width: 200px;
    height: auto;
  }
}

@media screen and (max-width: 1050px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .about_aside {
    margin-top: -9rem;
  }

  .about_block {
    display: flex;
    align-items: center;
    width: 550px;
    margin: 4rem;
  }
}
