.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: glideDown 0.2s linear;
}

.imageContainer {
  position: relative;
}

.starContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

@keyframes glideDown {
  from {
    transform: translateY(-70px);
  }
  to {
    transform: translateY(0px);
  }
}
