.contact_container {
  position: relative;
  color: var(--hero-name);
  font-size: 36px;
}

.contact_container_circle svg {
  fill: currentColor;
  transform-origin: center;
  width: 18rem;
}

.contact_container_contact {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact_container_contact {
  cursor: pointer;
}

.text_animation {
  font-family: "Righteous", "Inter";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  animation-name: wave;
  animation-iteration-count: infinite;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.pause .text_animation {
  animation-name: none;
}

.contact_container_circle {
  animation-name: rotate_contact_container_circle;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 100s;
}

/* Animation Timing */
.text_animation:nth-of-type(1) {
  animation-duration: 3s;
  animation-delay: 0.8s;
}

.text_animation:nth-of-type(2) {
  animation-duration: 3s;
  animation-delay: 0.6s;
}

.text_animation:nth-of-type(3) {
  animation-duration: 3s;
  animation-delay: 0.4s;
}

.text_animation:nth-of-type(4) {
  animation-duration: 3s;
  animation-delay: 0.2s;
}

/* Responsive */
@media screen and (max-width: 1280px) {
  .contact_container_circle svg {
    width: 15rem;
  }

  .text_animation {
    font-size: 35px;
  }

  .contact_container_contact {
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .contact_container_circle svg {
    width: 10rem;
  }

  .text_animation {
    font-size: 28px;
  }

  .contact_container_contact {
    cursor: pointer;
  }
}

/* Animation */
@keyframes rotate_contact_container_circle {
  from {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  40%,
  50% {
    transform: translate(-50%, -65%) scale(1.05);
  }

  0%,
  90%,
  100% {
    transform: translate(-50%, -45%) scale(0.95);
  }
}
