@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lilita+One&display=swap");

.hero_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Righteous", "Inter";
}

.hero_intro {
  font-family: "IBM Plex Mono";
  position: absolute;
  margin-left: 1.9rem;
  font-size: 32px;
  color: var(--hero-intro);
}

.underline {
  transform: translate(2rem, 3rem);
  filter: var(--hero-drawing);
}

.highlight_1 {
  filter: var(--hero-drawing);
  transform: translate(0rem, -20rem) rotate(180deg);
}

.highlight_2 {
  filter: var(--hero-drawing);
  transform: translate(-3rem, -6rem);
}

.hero_name {
  margin-top: 0rem;
  justify-content: center;
  display: flex;
  font-size: 450px;
  font-weight: 500;
  align-items: center;
  color: var(--hero-name);
}

.contact {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 0;
  overflow: hidden;
}

.contact_content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 90%;
}

.hero_desc {
  /* visibility: hidden; */
  /* width: 900px;
  font-size: 16px;
  margin-top: 14rem;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--hero-name); */
}

@media screen and (max-width: 1570px) {
  .hero_intro {
    margin-left: 1rem;
  }

  .hero_name {
    font-size: 200px;
    margin-top: 2rem;
  }

  .hero_desc {
    width: auto;
    font-size: 16px;
    margin-top: 10rem;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .contact_content {
    margin-bottom: 1rem;
  }

  .underline {
    transform: translate(1rem, 3rem);
  }

  .highlight_1 {
    transform: translate(0rem, -9rem) rotate(180deg);
    width: 40px;
    height: auto;
  }

  .highlight_2 {
    width: 120px;
    height: auto;
    transform: translate(-3rem, -3rem);
  }
}

@media screen and (max-width: 800px) {
  .hero_intro {
    margin-left: 0.5rem;
  }

  .hero_name {
    margin-top: 2rem;
    font-size: 128px;
  }

  .contact {
    /* bottom: -5rem; */
  }

  .hero_desc {
    width: auto;
    font-size: 16px;
    margin-top: 2rem;
    letter-spacing: 2px;
    font-weight: 500;
  }

  .contact_content {
    margin-bottom: 1rem;
  }

  .highlight_1 {
    transform: translate(0rem, -5.5rem) rotate(180deg);
    width: 30px;
    height: auto;
  }

  .highlight_2 {
    width: 100px;
    height: auto;
    transform: translate(-2rem, -2rem);
  }
}

@media screen and (max-width: 500px) {
  .hero_intro {
    font-size: 18px;
  }
  .hero_desc {
    width: auto;
    font-size: 16px;
    margin-top: 2rem;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .contact_content {
    margin-bottom: 1rem;
  }

  .hero_desc {
    font-size: 12px;
  }
  .underline {
    width: 180px;
    transform: translate(0rem, 2rem);
  }

  .highlight_1 {
    transform: translate(0rem, -5.5rem) rotate(180deg);
    width: 30px;
    height: auto;
  }

  .highlight_2 {
    width: 100px;
    height: auto;
    transform: translate(-2rem, -2rem);
  }
}

@media screen and (max-width: 480px) {
  .highlight_1 {
    transform: translate(0rem, -5.5rem) rotate(180deg);
    width: 20px;
    height: auto;
  }

  .highlight_2 {
    width: 70px;
    height: auto;
    transform: translate(-0.5rem, -2rem);
  }
}

@media screen and (max-width: 412px) {
  .highlight_1 {
    display: none;
  }

  .highlight_2 {
    display: none;
  }
}
