@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lilita+One&display=swap");

.hero_container {
  width: 100%;
  background-color: var(--page-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Righteous", "Inter";
}

.hero_intro {
  font-family: "IBM Plex Mono";
  position: absolute;
  margin-left: 1.9rem;
  font-size: 32px;
  color: var(--hero-intro);
}

.hero_name {
  margin-top: 0rem;
  justify-content: center;
  display: flex;
  font-size: 450px;
  font-weight: 500;
  align-items: center;
  color: var(--hero-name);
  /* color: rgba(0, 0, 0, 0); */
  /* -webkit-text-stroke: 2px var(--hero-name); */
}

.contact {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 0;
  overflow: hidden;
}

.contact_content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 90%;
}

.hero_desc {
  width: 900px;
  font-size: 16px;
  margin-top: 15rem;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--hero-name);
}

@media screen and (max-width: 1570px) {
  .hero_name {
    font-size: 200px;
  }

  .hero_desc {
    width: auto;
    font-size: 16px;
    margin-top: 10rem;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .contact_content {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .hero_name {
    margin-top: 2rem;
    font-size: 128px;
  }

  .contact {
    bottom: -5rem;
  }

  .hero_desc {
    width: auto;
    font-size: 16px;
    margin-top: 2rem;
    letter-spacing: 2px;
    font-weight: 500;
  }

  .contact_content {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .hero_desc {
    width: auto;
    font-size: 16px;
    margin-top: 2rem;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .contact_content {
    margin-bottom: 1rem;
  }

  .hero_desc {
    font-size: 12px;
  }
}
