@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lilita+One&display=swap");

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal_container {
  position: absolute;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  width: 90%;
}

.modal {
  display: block;
  position: absolute;
  margin: 1rem;
  z-index: 9999;
  max-width: inherit;
  height: auto;
  padding: 0rem 2px 1rem 2px;
  border: 2px solid var(--hero-intro-darker);
  background-color: var(--hero-intro);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
  /* background-color: var(--hero-intro); */
  border-radius: 15px;
  animation: levitate 3.5s infinite ease-in-out;
}

.modal:hover {
  border: 1px solid var(--hero-intro-darker);
  background-color: var(--hero-intro-darker);
}

.modal aside {
  margin: 0.8rem 1rem 0.5rem 0;
  float: right;
  cursor: pointer;
}

.modal img {
  width: 100%;
  object-fit: fill;
  cursor: pointer;
}

.modal h3 {
  font-family: "IBM Plex Mono";
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.modal button {
  font-family: "IBM Plex Mono";
  margin-top: 0.5rem;
  margin-left: 1rem;
  padding: 0.3rem 0.6rem;
}

@keyframes levitate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0px);
  }
}
