.hero_nav_links {
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: center;

  /* Glassmorphism */
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav_links {
  display: none;
}

.nav_contact_links {
  display: none;
}

.hero_nav_content {
  width: 90%;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.hero_nav_logo {
  font-size: 28px;
  cursor: pointer;
}

.nav_toggle {
  background: transparent;
  border: transparent;
  color: black;
  cursor: pointer;
}

.nav_toggle svg {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .nav_toggle {
    display: none;
  }

  .nav_contact_links {
    display: block;
  }

  .hero_nav_links {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .hero_nav_content {
    display: flex;
    width: 70%;
    justify-content: space-between;
    color: var(--hero-intro);
    align-items: center;
  }

  .hero_nav_links ul {
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  .hero_nav_links li {
    font-weight: 500;
    margin-left: 1.5rem;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .hero_nav_content a {
    text-decoration: none;
    color: var(--hero-intro);
  }

  .hero_nav_content a:hover {
    color: var(--hero-name);
  }
}
