.section span {
  font-family: "IBM Plex Mono";
  color: var(--nav-numbers);
  font-size: 18px;
  margin-right: 1rem;
}

.figure span {
  color: var(--section-bg);
  background-color: var(--contact-text);
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 16px;
  vertical-align: middle;
  margin-right: 1rem;
}

.figure p {
  margin-bottom: 1.5rem;
}

.tech {
  background-color: black;
  color: white;
  border-radius: 0 !important;
}

/* Tablet and Phone */
@media screen and (max-width: 1575px) {
  .section,
  .article,
  .aside {
    padding-top: 1rem;
    color: var(--about-text);
  }

  .section h2 {
    font-size: 24px;
    align-items: center;
    color: var(--about-title);
    display: flex;
    align-items: baseline;
  }

  .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 1rem;
  }

  .aside {
    margin: 0 auto;
  }

  .figure {
    max-width: 600px;
    padding-bottom: 4rem;
    border-bottom: 1px var(--line);
  }

  .figure h3 {
    margin: 1.5rem 0 1.5rem 0;
    font-weight: 500;
    font-size: 19px;
    vertical-align: middle;
    opacity: 0.9;
  }

  .figure p {
    font-size: 19px;
    line-height: 25px;
  }

  .image {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

/* FullScreen */
@media screen and (min-width: 1576px) {
  .section {
    width: 70%;
  }

  .section,
  .article,
  .aside {
    padding: 0;
    align-items: center;
  }

  .section h2 {
    font-size: 36px;
    color: var(--about-title);
    display: flex;
    align-items: baseline;
  }

  .article {
    margin-top: 2rem;
    margin-bottom: 5rem;
    justify-content: space-between;
    display: flex;
  }

  .aside .image {
    height: auto;
  }

  .figure {
    margin: 0 auto;
    max-width: 600px;
  }

  .figure h3 {
    text-align: right;
    margin-bottom: 1rem;
    color: var(--about-title);
  }

  .figure p {
    padding: 1.5rem 2rem;
    background-color: var(--page-bg);
    /* border-radius: 8px; */
    box-shadow: 5px 5px var(--hero-intro);
    font-size: 17px;
    line-height: 21px;
    color: var(--port-text);
  }
}

@media screen and (max-width: 480px) {
  .figure span {
    font-size: 12px;
  }
}
