.project {
  width: 100%;
  display: flex;
  z-index: 80;
  justify-content: center;
}

.project_container {
  width: 100%;
  height: auto;
  display: block;
}

.heading {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 6rem auto;
}

.heading h1 {
  font-family: "Migra";
  font-size: 90px;
  font-weight: 200;
}

.heading aside {
  border-top: 2px solid var(--hero-name);
  padding-top: 0.5rem;
}

.heading h4 {
  font-family: "Migra";
  font-size: 24px;
  font-weight: 200;
}
.heading p {
  position: absolute;
  font-family: "Migra";
  font-size: 20px;
  font-weight: 200;
  margin-top: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
}

.card_content {
  border-radius: 10px;
  position: relative;
}
