.show_sidebar {
  display: block;
}

.sidebar {
  position: fixed;
  transition: all 1s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--page-bg);
  display: none;
  z-index: 999;
}

.sidebar_header a,
.social_links,
.social_links a,
.close_btn,
.nav_links a {
  color: var(--hero-name);
}

.theme {
  cursor: pointer;
  font-size: 2.4rem;
  margin-right: 0.5rem;
  transition: all 0.5s linear;
}

.theme:hover {
  transform: rotate(45deg);
}

.sidebar_container {
  display: flex;
  justify-content: center;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  align-items: center;
  height: 4rem;
  width: 90%;
}

.nav_links {
  margin-top: 10rem;
  margin-left: 10%;
}

.social_links {
  margin-left: 10%;
}

.social_links li {
  font-weight: 500;
  margin-left: 1.2rem;
  margin-top: 1.5rem;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.nav_links span {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  font-family: "IBM Plex Mono";
  color: var(--hero-intro);
  margin-right: 0.5rem;
}

.close_btn {
  font-size: 2.5rem;
  background: transparent;
  border: transparent;
  cursor: pointer;
  padding-top: 1rem;
}

.nav_links li {
  padding: 0.5rem 0 0.5rem 0;
  overflow: hidden;
  display: flex;
  align-items: baseline;
}

.nav_links_content h2 {
  font-size: 50px;
}

.nav_links a {
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
  font-weight: 600;
}

.nav_links li:hover {
  background-color: var(--hero-intro);
  color: white;
}

.nav_links li:hover > span {
  color: white;
}

.show_sidebar {
  display: block;
}
