.skills_container {
  max-width: 64%;
  overflow-x: hidden;
  opacity: 1 !important;
}

.skills_container span {
  color: var(--port-text);
  margin-top: 1.5rem;
  display: block;
  position: relative;
  font-size: 50px;
}

.skills_container h2 {
  color: var(--about-title);
  margin-bottom: 0.5rem;
  font-size: 36px;
}

.skills_container p {
  color: var(--port-text);
  font-size: 17px;
}

.skills_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  text-align: center;
  margin-top: 2rem;
}

.skills_content p {
  font-size: 16px;
}

.skills_learning {
  font-weight: 500;
  margin-top: 2rem;
  font-size: 17px;
  color: var(--port-text);
}

.skills_learning_content {
  display: grid;
  text-align: center;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.skills_learning_content p {
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  .skills_container {
    max-width: 95%;
    overflow-x: hidden;
    opacity: 1 !important;
  }

  .skills_content {
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .skills_learning_content {
    grid-template-columns: repeat(2, 1fr);
  }
}
