.skills_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  /* overflow: hidden; */
}

.skills_content {
  display: block;
}

.skills_content h2 {
  color: var(--about-title);
  font-size: 36px;
}

.skill_motion {
  text-align: center;
  cursor: pointer;
}

.skill_name {
  font-size: 12px;
  font-family: "IBM Plex Mono";
}

@media screen and (max-width: 600px) {
  .skills_container h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  .skills_container {
    max-width: 95%;
    overflow-x: hidden;
    opacity: 1 !important;
  }

  .skills_content {
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .skills_learning_content {
    grid-template-columns: repeat(2, 1fr);
  }
}
