@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root,
html[data-theme="light"] {
  --max-width: 80vw;
  --page-bg: #f42144;
  --section-bg: #fffbeb;
  --hero-intro: #45193b;
  --hero-name: #fffbeb;
  --hero-desc: #45193b;
  --line: solid #45193b;
  background-color: var(--test-color);

  --switch-border: 0px -1.81174px 2.41565px rgba(0, 0, 0, 0.25),
    0px 2.41565px 2.41565px rgba(255, 255, 255, 0.94),
    inset 0px 0.603912px 7.85086px rgba(0, 0, 0, 0.25),
    inset 0px 4.22738px 5.43521px rgba(0, 0, 0, 0.25);

  --about-text: #45193b;
  --about-title: #45193b;
  --contact-text: #141414;

  --port-text: #fafafa;

  --nav-numbers: #f42144;

  --clr-primary-2: #5d2d52;
}

html[data-theme="dark"] {
  --max-width: 80vw;
  --page-bg: #1b194b;
  --section-bg: #01061d;
  --hero-intro: #818cf8;
  --hero-name: #fecdd3;
  --hero-desc: #c7d2fe;
  --line: solid #c7d2fe;
  background-color: var(--page-bg);

  --about-text: #cfc4aa;
  --about-title: #d9d2c3;
  --contact-text: rgb(213, 213, 213);

  --port-text: rgb(213, 213, 213);

  --nav-numbers: #818cf8;

  --clr-primary-2: hsl(209, 61%, 16%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  transition: all 0.2s ease;
}

body {
  background-color: var(--page-bg);
}
